html, body {
  height: 100vh;
  width: 100vw;
}

*{
  box-sizing: border-box;
}

body {
  margin: auto 0;
}
.darkBG {
  background-color: #292b2c;
}

.light-text{
  color: #f8f9fa;
}

.main{
  min-height: 100vh;
}

/* .main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
/*} */
