body{
  margin: auto 0;
}

.darkBG {
  background-color: #292b2c;
}

.light-text{
  color: #f8f9fa;
}

.minHeight{
  min-height: 80vh;
}

.center {
  display: 'flex';
  align-items: 'center';
  justify-Content: 'center';
  height: '100vh';
}

.main{
  height: 100%;
}
